// font
$font-global: "Montserrat", sans-serif;
$font-path: "../assets/fonts";

// color
$color-global: #000000;
$color-base: #111111;
$color-primary: #01a7fd;
$color-warning: #ffc107;
$color-danger: #db524e;
$color-menace: #f9e3e3;
$color-extra: #fafafa;
$color-white: #ffffff;
$color-general: #f1f1f1;
$color-factory: #0f79af;
$color-success: #59c79f;
$color-secondary: #ceecfc;

$color-other: rgba(17, 17, 17, 0.48);
$color-excess: rgba(17, 17, 17, 0.1);
$color-special: rgba(110, 65, 226, 0.04);
$color-additional: rgba(110, 65, 226, 0.16);
$color-normal: rgba(1, 167, 253, 0.56);
$color-basic: rgba(51, 51, 51, 0.04);
$color-info: rgba(51, 51, 51, 0.16);
